<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MtWashingtonFeed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MtWashingtonFeed.Properties.Settings>
            <setting name="FeedCollection" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>http://www.mountwashington.org/weather/conditions.png</string>
                        <string>http://www.mountwashington.org/weather/cam/deck/deck-med.jpg</string>
                        <string>http://www.mountwashington.org/weather/cam/north/north-med.jpg</string>
                        <string>http://www.mountwashington.org/weather/cam/west/west-med.jpg</string>
                        <string>http://www.mountwashington.org/weather/cam/ravines/ravines-med.jpg</string>
                        <string>http://www.mountwashington.org/weather/cam/attitash/attitash-med.jpg</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FeedInterval" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FeedEnabled" serializeAs="String">
                <value>True</value>
            </setting>
        </MtWashingtonFeed.Properties.Settings>
    </userSettings>
</configuration>